html, body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.sm-app {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-width: $app-width;
    min-height: $app-height;
    overflow: hidden;

    &.sm-loaded {
        min-height: $app-height - 50px;
    }

    .sm-dev-tools {
        padding: $spacing;
    }
}
