.sm-form {
    padding: $spacing;

    .sm-form-group {
        label {
            display: block;
            margin-bottom: $spacing;
        }

        .sm-form-control {
            display: block;
            width: 100%;
            padding: $spacing;
            margin-bottom: $spacing * 2;
            line-height: 1.5;
            color: #495057;
            font-size: $font-size;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: $border-radius;
        }

        textarea {
            min-height: 150px;
        }
    }

    &.sm-form-search {
        .sm-form-control {
            margin-bottom: 0;
        }
    }
}
