.sm-nav {
    display: flex;
    padding: $spacing;
    background-color: $primary-color;
    color: $secondary-color;
    align-items: center;
    justify-content: space-between;

    .sm-title {
        h1 {
            margin: 0;
            padding: 0;
        }
    }

    .sm-dropdown-button {
        font-size: $font-size * 1.5;

        &:hover {
            cursor: pointer;
        }
    }
}

.sm-dropdown {
    ul {
        padding: 10px 0;
        margin: 0;
        margin-top: $dropdown-arrow-size;
        background-color: $dropdown-bg-color;
        border-radius: $border-radius * 1.6;
        -webkit-box-shadow: $dropdown-box-shadow;
        -moz-box-shadow: $dropdown-box-shadow;
        box-shadow: $dropdown-box-shadow;

        &::before {
            content: '';
            height: 0;
            right: $dropdown-arrow-size;
            position: absolute;
            top: 0;
            width: 0;
            border-left: $dropdown-arrow-size solid transparent;
            border-right: $dropdown-arrow-size solid transparent;
            border-bottom: $dropdown-arrow-size solid $dropdown-bg-color;
        }

        li {
            display: block;
            padding: $spacing $spacing * 4.5;
            color: $secondary-color;
            text-decoration: none;
            text-align: center;
            font-size: $font-size - 2px;
            list-style-type: none;

            &:hover {
                background-color: lighten($dropdown-bg-color, 32.55);
                cursor: pointer;
            }
        }
    }
}