$app-width: 600px;
$app-height: 650px;
$font-family: "Open Sans", sans-serif;
$font-size: 14px;
$spacing: .6em;
// $primary-color: rgb(23, 102, 201);
$primary-color: #242424;
$secondary-color: white;
$border-radius: 3px;
