$app-width: 600px;
$app-height: 650px;
$font-family: "Open Sans", sans-serif;
$font-size: 14px;
$spacing: .6em;
$primary-color: #242424;
$secondary-color: white;
$border-radius: 0.2em;
$dropdown-arrow-size: 7px;
$dropdown-bg-color: $primary-color;
$dropdown-box-shadow: 0px 0px 10px 1px rgba(darken($dropdown-bg-color, 14.12),0.75);
